.footer__link-list {
  display  : flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 321px) {
  .footer__link-list {
    min-height     : 310px;
    flex-direction : column;
    justify-content: space-between;
  }
}
