.header__lang-link {
  font-family    : 'Inter', 'Arial', sans-serif;
  font-size      : 24px;
  line-height    : 1.2;
  text-decoration: none;
  color          : white;
  margin-right   : 10px;
  transition     : opacity 0.4s ease-in-out;
}

.header__lang-link:hover {
  opacity: 0.8;
  cursor : url('../../../images/Pointer.png'), pointer;
}

@media screen and (max-width: 321px) {
  .header__lang-link {
    font-size  : 18px;
    line-height: 20px;
  }
}
