.page {
  background-color: #2A2C2F;
  font-family     : 'Inter', 'Arial', sans-serif;
  width           : 100%;
  padding         : 28px 0 24px;
  margin          : 0 auto;
}

@media screen and (max-width: 321px) {
  .page {
    padding: 16px 0 24px;
  }
}
