.photo-grid {
  max-width    : 1184px;
  display      : grid;
  grid-template: repeat(3, 1fr)/repeat(4, 1fr);
  gap          : 16px 16px;
  margin       : 0 auto;
}

@media screen and (max-width: 1025px) {
  .photo-grid {
    gap          : 14px 14px;
    max-width    : 928px;
    grid-template: repeat(4, 1fr)/repeat(3, 1fr);
    margin       : 0;
    padding-left : 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 769px) {
  .photo-grid {
    max-width    : 720px;
    grid-template: repeat(6, 1fr)/repeat(2, 1fr);
    padding-left : 24px;
    padding-right: 24px;
    gap          : 16px 16px;
  }
}

@media screen and (max-width: 321px) {
  .photo-grid {
    max-width    : 288px;
    grid-template: repeat(12, 1fr)/repeat(1, 1fr);
    padding-left : 16px;
    padding-right: 16px;
    row-gap      : 12px;
  }
}
