.places {
  max-width: 984px;
  padding  : 92px 0;
  margin   : 0 auto;
}

@media screen and (max-width: 1025px) {
  .places {
    max-width    : 928px;
    padding-left : 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 769px) {
  .places {
    max-width: 720px;
    padding  : 90px 24px;
  }
}

@media screen and (max-width: 321px) {
  .places {
    max-width: 320px;
    padding  : 64px 0 66px;
  }
}
