.place__image {
  display    : block;
  width      : 100%;
  grid-column: col / span 1;
  grid-row   : row 2;
  object-fit : cover;

}

@media screen and (max-width: 676px) {
  .place__image {
    width    : 100%;
    max-width: 320px;
    grid-row : row 3;
  }
}
