.place__image {
  grid-column: col / span 1;
  grid-row: row 2;
  object-fit: cover;
  max-width: 100%;
}

@media screen and (max-width: 1025px){
  .place__image {
    width: 100%;
    max-width: 440px;
  }
}

@media screen and (max-width: 769px){
  .place__image {
    width: 100%;
    max-width: 340px;
  }
}


@media screen and (max-width: 320px){
  .place__image {
    width: 100%;
    max-width: 320px;
    grid-row: [row] 3;
  }
}
