.footer__link-list-item {
  margin-right: 18px;
}

.footer__link-list-item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 721px) {
  .footer__link-list-item {
    margin-right: 0;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 676px) {
  .footer__link-list-item:last-of-type {
    padding-bottom:0;
  }
}
