.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  font-family: 'Inter', 'Arial', sans-serif;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding-bottom: 245px;
}

@media screen and (max-width:1025px) {
  .cover__subtitle {
    padding-bottom: 195px;
  }
}

@media screen and (max-width:1025px) {
  .cover__subtitle {
    padding-bottom: 115px;
  }
}

@media screen and (max-width:1025px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
  line-height: 16px;
    padding-bottom: 33px;
  }
}
