.footer__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  margin-right: 18px;
  transition: opacity 0.4s ease-in-out;
}

.footer__link:hover {
  opacity: 0.8;
  cursor: url('../../../images/Pointer.png'), pointer;
}

@media screen and (max-width: 321px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
