.place__paragraph {
  max-width: 484px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: white;
  margin-bottom: 26px;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 769px){
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 769px){
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }
}
