.footer__copyright {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size  : 14px;
  line-height: 16px;
  font-weight: normal;
  color      : white;
}

@media screen and (max-width: 321px) {
  .footer__copyright {
    margin-top: 48px;
  }
}

