.intro {
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 0;
}

@media screen and (max-width: 1025px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 769px) {
  .intro {
    max-width: 720px;
    padding: 88px 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    padding: 64px 0;
  }
}
