.lead__subtitle {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size  : 30px;
  font-weight: normal;
  line-height: 36px;
  max-width  : 640px;
  color      : white;
  text-align : center;
  margin     : 32px 0 64px;
}

@media screen and (max-width: 1025px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 321px) {
  .lead__subtitle {
    max-width  : 288px;
    font-size  : 16px;
    line-height: 20px;
    margin     : 16px 0 40px;
  }
}
