.cover {
  max-width: 1184px;
  max-height: 740px;
  margin: 0 auto;
}

@media screen and (max-width: 1025px){
  .cover{
    max-width: 1024px;
    max-height: 640px;
  }
}

@media screen and (max-width: 769px){
  .cover{
    max-width: 768px;
    max-height: 480px;
  }
}

@media screen and (max-width: 321px){
  .cover{
    max-width: 320px;
    max-height: 200px;
  }
}
