.cover {
  position        : relative;
  max-width       : 1184px;
  margin          : 0 auto;
  background-image: url('../../images/cover__image_hover_off.webp');
  background-size : cover;
}

.cover::before {
  content   : '';
  display   : block;
  height    : 100%;
  width     : 100%;
  position  : absolute;
  transition: .4s ease-in-out;
}

.cover:hover:before {
  content   : '';
  background: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 1025px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 769px) {
  .cover {
    max-width: 768px;
  }
}

@media screen and (max-width: 321px) {
  .cover {
    max-width: 320px;
  }
}
