.place__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size  : 18px;
  line-height: 22px;
  font-weight: normal;
  color      : white;
  transition : opacity .4s ease-in-out;
}

.place__link:hover {
  opacity: .8;
  cursor : url('../../../images/pointer.svg'), pointer;
}

@media screen and (max-width: 767px) {
  .place__link {
    font-size  : 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 321px) {
  .place__link {
    font-size  : 18px;
    line-height: 22px;
  }
}
