.lead__caption {
  font-family   : 'Inter', 'Arial', sans-serif;
  font-size     : 10px;
  line-height   : 1.4;
  letter-spacing: 1.5px;
  font-weight   : normal;
  color         : white;
  align-self    : flex-start;
  padding-top   : 8px;
}

@media screen and (max-width: 769px) {
  .lead__caption {
    max-width   : 288px;
    padding-left: 24px;
  }
}
