.cover__title {
  max-width  : 560px;
  font-size  : 72px;
  line-height: 76px;
  font-weight: 900;
  font-family: 'Inter', 'Arial', sans-serif;
  text-align : center;
  color      : white;
  padding-top: calc((245/1184)*100%);
  margin     : 0 auto 32px;
}

@media screen and (max-width:1025px) {
  .cover__title {
    padding-top: calc((195/1024)*100%);

  }
}

@media screen and (max-width:769px) {
  .cover__title {
    padding-top: calc((115/768)*100%);
  }
}

@media screen and (max-width:676px) {
  .cover__title {
    font-size  : 46px;
    line-height: 52px;
  }
}

@media screen and (max-width:321px) {
  .cover__title {
    max-width    : 288px;
    padding-top  : 33px;
    font-size    : 32px;
    line-height  : 35px;
    margin-bottom: 16px;
  }
}
