.cover__title {
  max-width  : 560px;
  font-size  : 72px;
  line-height: 76px;
  font-weight: 900;
  font-family: 'Inter', 'Arial', sans-serif;
  text-align : center;
  color      : white;
  padding-top: calc((245/1184)*100%);
  padding-left: calc((312/1184)*100%);
  padding-right: calc((312/1184)*100%);
  margin-bottom: 32px;

}

@media screen and (max-width:1025px) {
  .cover__title {
    padding-top: calc((195/1024)*100%);
    padding-left: calc((232/1024)*100%);
    padding-right: calc((232/1024)*100%);
  }
}

@media screen and (max-width:769px) {
  .cover__title {
    padding-top: calc((115/768)*100%);
    padding-left: calc((104/768)*100%);
    padding-right: calc((104/768)*100%);
  }
}

@media screen and (max-width:676px) {
  .cover__title {
    font-size  : 55px;
    line-height: 60px;
  }
}

@media screen and (max-width:321px) {
  .cover__title {
    max-width  : 288px;
    padding: 33px 0 0;
    font-size  : 32px;
    line-height: 35px;
    margin: 0 auto 16px;
  }
}
