.cover__title {
  max-width: 560px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  font-family: 'Inter', 'Arial', sans-serif;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 245px 0 32px 0;
}

@media screen and (max-width:1025px) {
  .cover__title {
    padding-top: 195px;
  }
}

@media screen and (max-width:769px) {
  .cover__title {
    padding-top: 115px;
  }
}

@media screen and (max-width:321px) {
  .cover__title {
    max-width: 288px;
    padding-top: 33px;
    font-size: 32px;
    line-height: 35px;
  }
}
