.place {
  max-width            : 100%;
  display              : grid;
  gap                  : 48px 40px;
  grid-template-columns: repeat(2, [col] minmax(min-content, max-content));
  grid-template-rows   : repeat(2, [row] minmax(min-content, max-content));
  padding-bottom       : 80px;
}

.place:last-child {
  padding: 0;
}

@media screen and (max-width: 1025px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 769px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: repeat(1, [col] minmax(min-content, max-content));
    grid-template-rows   : repeat(3, [row] minmax(min-content, max-content));
    row-gap              : 32px;
  }
}
