.footer {
  max-width      : 1184px;
  display        : flex;
  justify-content: space-between;
  margin         : 0 auto;
  margin-top     : 92px;
  flex-wrap      : wrap;
}

@media screen and (max-width: 1025px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 769px) {
  .footer {
    max-width : 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 321px) {
  .footer {
    max-width     : 186px;
    flex-direction: column;
    flex-wrap     : wrap;
    margin        : 64px 0 0 16px;
  }
}
