.place__website {
  max-width  : 100%;
  grid-column: col 2 / span 1;
  grid-row   : row;
  align-self : end;
}

@media screen and (max-width: 676px) {
  .place__website {
    grid-column: col 1 / span 1;
    grid-row   : row 2;
  }
}

@media screen and (max-width: 321px) {
  .place__website {
    padding: 0 16px;
  }
}
